* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
p {
    font-size: 14px;
}

/* ============= Generic CSS ============== */

.section-title {
    padding-top: 40px;
    padding-bottom: 50px;
}
.section-title h2 {
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.section-title h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 60px;
    height: 1px;
    background-color: #129CF3;
    margin-left: -30px;
}


.section-title p {
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
}

/* =========== Navigation ============ */

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    z-index: 110;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > li > a {
    color: #B5B5B5;
    font-family: "Raleway", sans-serif;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
}
.navbar-default .navbar-nav > li > a:hover {
    color: #129CF3;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #B5B5B5;
}
.navbar-brand {
    padding: 9px 15px;
}
.navbar-brand img  {
     transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > .active>a, 
.navbar-default .navbar-nav > .active>a:hover,
.navbar-default .navbar-nav > .active>a:focus {
    background-color: transparent;
    color: #129CF3;
} 


/* =========== Header ============ */
.project-container {
    display: block;
}
.project h2{
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
}
.about {
    padding-top: 30px; 
}
.about-column {
    min-width: 300px;
}
.about-item {
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
}
.about-item div{
    position: absolute;
    top: 0;
    left: 0;
}
.about-item p{
    font-size: 18px;
    font-weight: 800;
    color: black;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}
.about-item-main p{
    font-size: 22px;
    font-weight: 800;
    color: black;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}
.about-item h3{
    font-size: 20px;
    font-weight: 500;
    color:grey;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}
.about img {
    max-width: 100%;
}
.name {
    font-size: 40px;
    padding-top: 7px;
    color: rgba(128, 128, 128, 0.5);
    font-weight: 600;
}
.header-overlay {
    background-color: white;
    margin-top: 4%;
    margin-bottom: 4%;
}
/* 
.header {
    background-color: black;
}
.header-text h1 {
    color: black;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    text-transform: uppercase;
}
.header-text p {
    color: black;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
}
.picture{
    max-width: 100%;
    height: auto;
} */

/* ========= Footer ============= */
.footer {
    background-color: #1a1a1a;
    padding-bottom: 35px;
    padding-top: 35px;
    border-bottom: 3px solid #129CF3;
}
#copyright {
    width: 50%;
}
#copyright p {
    color: #8C8B8A;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
#copyright p a {
    text-decoration: none;
    color: #129CF3;
}
.scroll-top {
    text-align: right;
}
.scroll-top a {
    background-color: #129CF3;
    padding: 25px;
}
.scroll-top a i {
    color: #fff;
    font-size: 25px;
}
